h1{
    text-align: center;
    color: rgb(251, 255, 8);
    text-shadow: 1px 1px 1px black;
    font-size: 70px;
    font-weight: 700;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;

}
.header-background{
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;background-size: cover;
    padding: 100px;
    height: 100%;
}
#why-donate{
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    padding: 0% 20% 2% 20%;
    text-align: center;}
a{
    color: azure;
    text-decoration: none;
    background-color: red;
    padding: 10px 25px;
    border-radius: 5px;
}
.how-donate{
    text-align: center;
}
